PORT=3000

# Defina como false para subir a API sem conectar no banco.
# Em ambiente de teste (NODE_ENV=test), o banco já é desabilitado automaticamente.
DB_ENABLED=true

DB_HOST=localhost
DB_DOCKER_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nest_js_template
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_RETRY_ATTEMPTS=3
DB_RETRY_DELAY=1000

OTEL_SERVICE_NAME=nest-js-template-api
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=none
OTEL_NODE_RESOURCE_DETECTORS=env,host,os
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=local,service.namespace=nest-js-template
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4318
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://signoz-otel-collector:4318/v1/traces
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://signoz-otel-collector:4318/v1/metrics
NODE_OPTIONS=--require @opentelemetry/auto-instrumentations-node/register
